//
   Created by Fabien on 13/04/2015.
doctype html
html
    head(lang='fr')
        meta(charset='UTF-8')
        title Lee Korn
    body
        h1 Création de licorne

        form(method='post', action='/unicorns')
            p
                label(for='name') Nom :
                input#name(type='text', name='name', size='30', maxlength='10', require='required')

            p
                label(for='dob') Date de naissance :
                input#date(type='date', name='dob',require='required')

            p
                label(for='weight') Poid :
                input#weight(type='number', name='weight', min='0', size='30', maxlength='10',require='required')

            p
                label(for='gender') Genre :
                input#genre(type='text', name='gender', placeholder='f ou m', size='10', maxlength='1',require='required')

            p
                label(for='loves')
                    | Liste des favoris
                br
                textarea#aliments(name='loves', rows='3', cols='30')

            p
                label(for='vampires') nombre de vampire tu&eacute;s :
                input#vampire(type='number', name='vampires', min='0', size='30', maxlength='10')

            input(type='submit', name='send', value='Créer la licorne')
            br

        form(methode='get', action='/')
            input(type='submit', name='retour', value='retour')
