//
   Created by Fabien on 14/04/2015.
doctype html
html
    head(lang='fr')
        meta(charset='UTF-8')
        title
    body
            h1 Ajout Unicorn
            | La licorne #{newUnicorn.name} est ajoutée !

        form(action='/')
            input(type='submit', value='Retour')