//
   Created by Fabien on 14/04/2015.
doctype html
html
    head(lang='fr')
        meta(charset='UTF-8')
        title
    body
        h1 Suppression Unicorn
        | La licorne #{deleteUnicorn.name} est supprimeé !

        form(methode='get', action='/')
            input(type='submit', name='retour', value='retour')