//
   Created by Fabien on 15/04/2015.

doctype html
html
    head(lang='fr')
        meta(charset='UTF-8')
        title
    body
        h1 Modification Unicorn
        | La licorne #{updatedUnicorn.name} est modifiée !
    form(action='/')
        input(type='submit', value='Retour')