//
   Created by Fabien on 14/04/2015.
doctype html
html
    head(lang='fr')
        meta(charset='UTF-8')
        title Lee Korn
        link(type='text/css', rel='stylesheet', href='site.css')
    body
        p
            h1 Bienvenue chez Lee Korn Factory !
            a(href="create") Créer sa licorne
            br
            a(href="unicorns") Liste des licornes
